#set($basePath = $request.contextPath)
#set($user = $sec.principal)
<!DOCTYPE html>
<html>
<head>
    #set($pageTitle = "创建数据源申请审核")
    #parse("include/head.vm")
    $static.referMenu("/")
</head>
<body>
    #parse("include/navbar.vm")
    #@pageBar()创建数据源申请审核#end
    #@pageContent()
    <p class="lead"><i class="fa fa-building fa-fw"></i> 创建数据源申请审核</p>
    <hr>
    <form id="schema-audit-form" class="form-horizontal" data-id="$task.taskId">
        <div class="well">
            <div class="form-group">
                <label class="col-sm-2 text-right">申请人:</label>
                <div class="col-sm-3">$task.taskBiz.startUser.username</div>
                <label class="col-sm-2 text-right">申请时间:</label>
                <div class="col-sm-4">$date.format($task.taskBiz.startTime)</div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-sm-2 text-right">SID:</label>
                <div class="col-sm-10">$!task.taskBiz.entity.sid</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 text-right">产品线:</label>
                <div class="col-sm-3">$!task.taskBiz.entity.product</div>
                <label class="col-sm-2 text-right">项目场景:</label>
                <div class="col-sm-4">$!task.taskBiz.entity.scene</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 text-right">项目描述:</label>
                <div class="col-sm-10">$!task.taskBiz.entity.productDesc</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 text-right">容量规划:</label>
                <div class="col-sm-10">$!task.taskBiz.entity.capacityDesc</div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 text-right">分库分表:</label>
                <div class="col-sm-10">
                    #if($task.taskBiz.entity.split)
                        $!task.taskBiz.entity.splitDesc
                    #else
                        否
                    #end
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-sm-2 text-right"><span class="text-danger">*</span> 审核:</label>
                <div class="col-sm-3">
                    <select name="agree" class="form-control">
                        <option value="1">自动创建</option>
                        <option value="2">手动创建</option>
                        <option value="0">不通过</option>
                    </select>
                </div>
            </div>
            <div class="form-group auto-options">
                <div class="col-sm-offset-2 col-sm-3">
                    <input name="dsName" class="form-control" type="text" placeholder="创建数据源名称, 默认SID">
                </div>
                <div class="col-sm-2">
                    <select name="env" class="form-control">
                        <option value="prod">正式环境</option>
                        <option value="test">测试环境</option>
                        <option value="dev">开发环境</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select name="ds" class="form-control" data-placeholder="自动创建拷贝数据源(非必填)">
                        <option value=""></option>
                        #foreach($ds in $dataSources)
                            <option value="$ds.id">$ds.name</option>
                        #end
                    </select>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0">
                <label class="col-sm-2 text-right"><span class="text-danger">*</span> 审核意见:</label>
                <div class="col-sm-8">
                    <textarea name="reason" class="form-control" rows="2">默认值</textarea>
                </div>
            </div>
        </div>
        <div class="text-danger form-msg" style="margin-bottom: 15px"></div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">提交</button>
            <a href="$basePath/" class="btn btn-default">返回</a>
        </div>
    </form>
    #end
    #parse("include/footer.vm")
    $static.javascript("js/module/task/schemaApply.js")
</body>
</html>