#set($basePath = $request.contextPath)
#set($user = $sec.principal)
<!DOCTYPE html>
<html>
<head>
    #set($pageTitle = "参数管理")
    #parse("include/head.vm")
</head>
<body>
    #parse("include/navbar.vm")

    #@pageBar2()
    <ol class="breadcrumb">
        <li><a href="$basePath/">主页</a></li>
        <li class="active">参数管理</li>
    </ol>
    <div class="toolbar">
        <a id="ds-add" href="javascript:;" class="btn btn-info btn-sm"><i class="fa fa-plus-square-o"></i> 添加实例参数</a>
    </div>
    #end

    #@pageContent()
    <div id="toolbar" class="clearfix">
        <p class="lead pull-left"><i class="fa fa-database fa-fw"></i> 参数管理&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <div class="btn-group pull-left" data-toggle="buttons">
            <label class="btn btn-default active">
                <input type="radio" name="env" value="prod" autocomplete="off" checked>正式环境
            </label>
            <label class="btn btn-default">
                <input type="radio" name="env" value="test" autocomplete="off">测试环境
            </label>
            <label class="btn btn-default">
                <input type="radio" name="env" value="dev" autocomplete="off">开发环境
            </label>
        </div>
    </div>

    <table id="parameters"
           class="table table-striped"
           data-toggle="table"
           data-toolbar="#roles-toolbar"
           data-page-list="[10,15,20]"
           data-pagination="true"
           data-search="true"
           data-show-toggle="true"
           data-show-refresh="true"
           data-url="$basePath/datasource/parameters/list?env=prod"
           data-unique-id="id">
        <thead>
        <tr>
            <th data-field="dbinstance">实例名称</th>
            <th data-field="parametersMap" data-formatter="paramsFormatter">参数</th>
            <th data-field="username" data-sortable="true">用户名</th>
            <th data-field="passwd" data-searchable="false">密码</th>
            <th data-field="op" data-searchable="false" data-formatter="opFormatter" data-width="140">操作</th>
        </tr>
        </thead>
    </table>
    #end
    #parse("include/footer.vm")
    $static.javascript("js/module/datasource/parameters.js")
</body>
</html>