*.iml
*.ipr
*.iws
*.log
.DS_Store

.history
logs/

.idea/
target/
node_modules/

src/main/resources/application-*.properties

src/main/resources/public/static/css/base.css
src/main/resources/public/static/css/module/
src/main/resources/public/static/js/base.js
src/main/resources/public/static/js/module/

.classpath
.project
.settings/
