#set($basePath = $request.contextPath)
#set($user = $sec.principal)
<!DOCTYPE html>
<html>
<head>
    #set($pageTitle = "结构变更执行")
    #parse("include/head.vm")
    $static.referMenu("/")
    <style type="text/css">
        .CodeMirror {
            border: 1px solid #ddd;
            height: auto;
            background-color: #fbfbfb;
        }
    </style>
</head>
<body>
    #parse("include/navbar.vm")
    #@pageBar()结构变更执行#end
    #@pageContent()
    <p class="lead"><i class="fa fa-cubes fa-fw"></i> 结构变更执行</p>
    #if($task.taskBiz.entity.executeStatus != 0)
        $static.var("running", "true")
    <hr>
    <pre id="exec-message" style="background-color: #333; border-color: #000; color: #FFF; max-height: 500px; overflow: auto">[0] 正在执行...</pre>
    #end
    <hr>
    <form id="struct-change-execute-form" class="form-horizontal" data-id="$task.taskId" data-process-id="$task.taskBiz.processInstanceId">
        <div class="well">
            <div class="form-group">
                <label class="col-sm-2 text-right">申请人:</label>
                <div class="col-sm-3">$task.taskBiz.startUser.nickname</div>
                <label class="col-sm-2 text-right">申请时间:</label>
                <div class="col-sm-4">$date.format($task.taskBiz.startTime)</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 text-right">标题:</label>
                <div class="col-sm-9">
                    #if($task.taskBiz.entity.online)<span class="label label-success">online</span>#end
                    $task.taskBiz.explain
                </div>
            </div>
            #if($task.taskBiz.entity.reason != "")
            <div class="form-group">
                <label class="col-sm-2 text-right">描述:</label>
                <div class="col-sm-9">
                    <pre>$!task.taskBiz.entity.reason</pre>
                </div>
            </div>
            #end
            <hr>
            <div class="form-group">
                <label class="col-sm-2 text-right">环境:</label>
                <div class="col-sm-3">$static.env($task.taskBiz.entity.dsEnv)</div>
                <label class="col-sm-2 text-right">数据源:</label>
                <div class="col-sm-4">$!task.taskBiz.entity.dsName</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 text-right">变更类型:</label>
                <div class="col-sm-9">
                    #if ($task.taskBiz.entity.changeType == 0)
                        <span class="label label-success">ONLY CREATE DDL</span>
                    #else
                        <span class="label label-warning">MIXED DDL</span>
                    #end
                </div>
            </div>
            #if($task.taskBiz.entity.reference && $task.taskBiz.entity.reference.length() > 0)
                <div class="form-group">
                    <label class="col-sm-2 text-right">参考信息:</label>
                    <div class="col-sm-9">
                        <pre style="background-color: #fbfbfb">$!task.taskBiz.entity.reference</pre>
                    </div>
                </div>
            #end
            <div class="form-group">
                <label class="col-sm-2 text-right">结构变更SQL:</label>
                <div class="col-sm-9">
                    <textarea name="sql" class="form-control" rows="2">$!task.taskBiz.entity.sql</textarea></div>
            </div>
            <hr>
            #if($task.taskBiz.entity.executeStatus == 0)
                <div class="form-group">
                    <label class="col-sm-2 text-right"><span class="text-danger">*</span> 是否执行:</label>
                    <div class="col-sm-3">
                        <select name="agree" class="form-control">
                            <option value="1">执行变更</option>
                            <option value="2">手动执行</option>
                            <option value="0">不执行</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0">
                    <label class="col-sm-2 text-right"><span class="text-danger">*</span> 执行意见:</label>
                    <div class="col-sm-9">
                        <textarea name="reason" class="form-control" rows="2">默认值</textarea>
                    </div>
                </div>
            #else
                <div class="form-group">
                    <label class="col-sm-2 text-right"><span class="text-danger">*</span> 是否执行:</label>
                    <div class="col-sm-3">执行变更</div>
                </div>
                <div class="form-group" style="margin-bottom: 0">
                    <label class="col-sm-2 text-right"><span class="text-danger">*</span> 执行意见:</label>
                    <div class="col-sm-9">
                        $!task.taskBiz.entity.executeRemark
                    </div>
                </div>
            #end
        </div>
        <div class="text-danger form-msg" style="margin-bottom: 15px"></div>
        <div class="form-actions">
            #if($task.taskBiz.entity.executeStatus == 0)
                <button type="submit" class="btn btn-primary">提交</button>
                <a href="$basePath/" class="btn btn-default">返回</a>
            #else
                <a href="$basePath/process/struct-change/$task.taskId" class="btn btn-default">查看详情</a>
                <a href="$basePath/" class="btn btn-default">返回首页</a>
            #end
        </div>
    </form>
    #end
    #parse("include/footer.vm")
    $static.javascript("js/module/task/structChangeExecute.js")
</body>
</html>