<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RuTaskMapper">
    <resultMap id="RuTaskMap" type="RuTask">
        <id property="id" column="ID_" />
        <result property="rev" column="REV_"/>


        <result property="execution_id" column="EXECUTION_ID_"/>
        <result property="process_instance_id" column="PROC_INST_ID_"/>
        <result property="proc_def_id" column="PROC_DEF_ID_"/>


        <result property="name" column="NAME_"/>
        <result property="task_def_key" column="TASK_DEF_KEY_"/>
    </resultMap>

    <sql id="fields">ID_, REV_,EXECUTION_ID_, PROC_INST_ID_, `PROC_DEF_ID_`,  `NAME_`, `TASK_DEF_KEY_`</sql>

    <select id="findByTaskDefKey" parameterType="map" resultMap="RuTaskMap">
        SELECT <include refid="fields"/> FROM act_ru_task
        WHERE TASK_DEF_KEY_=#{task_def_key}
    </select>
</mapper>