#set($basePath = $request.contextPath)
#set($user = $sec.principal)
<!DOCTYPE html>
<html>
<head>
    #set($pageTitle = "K2结构变更提交")
    #parse("include/head.vm")
    <style type="text/css">
        form, .form-group {
            margin-bottom: 10px;
        }
        #timeline ul li {
            margin-top: 1em;
        }
        .CodeMirror {
            border: 1px solid #ccc;
            height: auto;
        }
    </style>
</head>
<body>
    #parse("include/navbar.vm")
    #@pageBar()K2结构变更提交#end
    #@pageContent()
    <p class="lead">
        <i class="fa fa-cloud-upload fa-fw"></i> K2结构变更提交
    </p>
    <hr>
    <form id="online-form" action="#" method="post">
        <div class="form-body" lang="zh-CN">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select name="ds" class="form-control" data-placeholder="请选择提交数据源">
                            <option value=""></option>
                            #foreach($ds in $dataSources)
                                <option value="$ds.id">[${ds.type}]${ds.name}</option>
                            #end
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-actions">
                        <button id="timeline-btn" type="button" class="btn btn-primary">获取提交时间点</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div id="timeline"></div>
    <div id="change"></div>
    #end
    #parse("include/footer.vm")
    $static.javascript("js/module/caas/online.js")
</body>
</html>