#foreach($structChange in $process.taskBiz.entity)
<p class="lead2">
    子任务: $static.env($structChange.dsEnv) - $structChange.dsName
    &nbsp;
    <span class="small">
        #if ($structChange.changeType == 0)
            <span class="label label-success">ONLY CREATE DDL</span>
        #else
            <span class="label label-warning">MIXED DDL</span>
        #end
    </span>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <td>执行动作</td>
        <td>状态</td>
        <td>结果状态</td>
        <td>审核/执行人</td>
        <td>审核/执行时间</td>
        <td>审核/执行备注</td>
        <td>参考信息</td>
        </thead>
        <tr>
            <td>变更审核</td>
            <td>
                #if($structChange.assessor)
                    #if($structChange.assessType == 1)
                        <span class="label label-success">通过</span>
                    #else
                        <span class="label label-danger">未通过</span>
                    #end
                #end
            </td>
            <td><span class="label label-warning">操作成功</span></td>
            <td>$!structChange.assessor</td>
            <td>$!date.format($!structChange.assessTime)</td>
            <td>
                #if($structChange.assessRemark && $structChange.assessRemark.length() > 20)
                    <span role="button" title="查看完成数据" data-info-large="true" data-info="$!structChange.assessRemark">
                        $display.truncate($!structChange.assessRemark, 20)
                    </span>
                #else
                    $!structChange.assessRemark
                #end
            </td>
        </tr>
        <tr>
            <td>变更执行</td>
            <td>
                #if($structChange.executor)
                    #if($structChange.executeType == 1)
                        <span class="label label-success">执行</span>
                    #elseif($structChange.executeType == 2)
                        <span class="label label-success">定时执行</span>
                    #else
                        <span class="label label-danger">未执行</span>
                    #end
                #end
            </td>
            <td>
                #if($structChange.executor)
                    #if($structChange.executeStatus == 1)
                        <span class="label label-success">正在运行</span>
                    #elseif($structChange.executeStatus == 2)
                        <span class="label label-success">成功</span>
                    #elseif($structChange.executeStatus == 3)
                        <span class="label label-danger">失败</span>
                    #elseif($structChange.executeStatus == 4)
                        <span class="label label-danger">超时</span>
                    #elseif($structChange.executeStatus == 5)
                        <span class="label label-warning">中止</span>
                    #else
                        <span class="label label-warning">未执行</span>
                    #end
                #end
            </td>
            <td>$!structChange.executor</td>
            <td>$!date.format($!structChange.executeTime)</td>
            <td>
                #if($structChange.executeRemark && $structChange.executeRemark.length() > 20)
                    <span role="button" title="查看完成数据" data-info-large="true" data-info="$!structChange.executeRemark">
                        $display.truncate($!structChange.executeRemark, 20)
                    </span>
                #else
                    $!structChange.executeRemark
                #end
            </td>
            <td>
                #if($structChange.reference && $structChange.reference.length() > 0)
                    <div class="form-group">
                        <label class="col-sm-2 text-right">参考信息:</label>
                        <div class="col-sm-9">
                            <pre style="background-color: #fbfbfb">$!structChange.reference</pre>
                        </div>
                    </div>
                #end
            </td>
        </tr>
    </table>
</div>
<pre class="code"><code class="sql">$structChange.sql</code></pre>
#if($structChange.executeStatus == 1)
<button class="btn btn-success" id="progress-detail" data-id="$structChange.id">查看执行进度</button>
    #if($sec.any("DATASOURCE_MANAGE", "USER_MANAGE", "SECURITY_MANAGE", "SYS_MANAGE"))
        <button class="btn btn-warning" id="cancel-progress" data-id="$structChange.id">中止执行</button>
    #end
#end

#if($structChange.message)
<pre>$!structChange.message</pre>
#end
<hr>
#end