#set($basePath = $request.contextPath)
#set($user = $sec.principal)
<!DOCTYPE html>
<html>
<head>
    #set($pageTitle = "调整Canal同步申请")
    #parse("include/head.vm")
    $static.referMenu("/")
</head>
<body>
    #parse("include/navbar.vm")
    #@pageBar()调整Canal同步申请#end
    #@pageContent()
    <p class="lead"><i class="fa fa-random fa-fw"></i> 调整Canal同步申请</p>
    <hr>
    <form id="canal-adjust-form" class="form-horizontal" data-id="$task.taskId">
        <div class="well">
            <div class="form-group">
                <label class="col-sm-2 text-right">申请时间:</label>
                <div class="col-sm-3">$date.format($task.taskBiz.startTime)</div>
                <label class="col-sm-2 text-right">环境:</label>
                <div class="col-sm-4">$static.env($task.taskBiz.entity.env)</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 text-right">SID:</label>
                <div class="col-sm-3">$!task.taskBiz.entity.sid</div>
                <label class="col-sm-2 text-right">同步表:</label>
                <div class="col-sm-4">$!task.taskBiz.entity.table</div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-sm-2 text-right">审核未通过原因:</label>
                <div class="col-sm-10">$!task.taskBiz.entity.assessRemark</div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-sm-2 text-right"><span class="text-danger">*</span> 是否重新申请:</label>
                <div class="col-sm-4">
                    <select name="apply" class="form-control">
                        <option value="true">重新申请</option>
                        <option value="false">放弃申请</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0">
                <label class="col-sm-2 text-right"><span class="text-danger">*</span> 重新申请理由:</label>
                <div class="col-sm-8">
                    <textarea name="reason" class="form-control" rows="2">$!task.taskBiz.entity.reason</textarea>
                </div>
            </div>
        </div>
        <div class="form-group text-danger form-msg"></div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
    #end
    #parse("include/footer.vm")
    $static.javascript("js/module/task/canalApply.js")
</body>
</html>